[Unit]
Description=Snowflake Proxy for Tor
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Group=nogroup
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/snowflake
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
