[Unit]
Description=Snowflake Proxy for Tor
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Group=nogroup
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/snowflake \
{% for option in snowflake_options %}
    {{ option }} \
{% endfor %}
    -summary-interval {{ snowflake_summary_interval }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
