[Unit]
Description=Prometheus tor_exporter (instance {{ item.name }})
Requires=tor.service

[Service]
{% if item.control_socket is defined %}
ExecStart=/usr/bin/prometheus-tor-exporter.py -b {{ item.bind_addr|default("localhost") }} -p {{ item.bind_port|default(9101) }} -m unix -s {{ item.control_socket }}
{% else %}
ExecStart=/usr/bin/prometheus-tor-exporter.py -b {{ item.bind_addr|default("localhost") }} -p {{ item.bind_port|default(9101) }} -a {{ item.control_addr|default("localhost") }} -c {{ item.control_port|default(9051) }}
{% endif %}
User={{ item.user }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
