[Unit]
Description=Prometheus unbound_exporter
After=syslog.target network.target

[Service]
WorkingDirectory={{ unbound_exporter_path }}
ExecStart={{ unbound_exporter_path }}/unbound_exporter \
    -unbound.ca {{ unbound_etc }}/unbound_server.pem \
    -unbound.cert {{ unbound_etc }}/unbound_control.pem \
    -unbound.key {{ unbound_etc }}/unbound_control.key \
    -web.listen-address {{ unbound_exporter_address }}
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
